po/.intltool-merge-cache
po/POTFILES
po/*.gmo
*Makefile
*Makefile.in
*Makefile.in.in
stamp*
*/.deps
.libs
*.orig
*.o
*.lo
*,orig
configure
config.*
\[config.h\].in
configure.ac
libtool
intltool*
mkinstalldirs
missing
compile
install-sh
ltmain.sh
depcomp
aclocal.m4
autom4te.cache
*.desktop
INSTALL
panel-plugin/xfce4-mpc-plugin
panel-plugin/libmpc.la
