m4/
po/POTFILES
po/*.gmo
*Makefile
*Makefile.in
*Makefile.in.in
stamp*
*/.deps
.libs
*~
*.orig
*.o
*.lo
*,orig
configure
config.*
\[config.h\].in
libtool
mkinstalldirs
missing
compile
install-sh
ltmain.sh
depcomp
aclocal.m4
autom4te.cache
*.desktop
INSTALL
panel-plugin/xfce4-mpc-plugin
panel-plugin/libmpc.la
ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/xfce4-mpc-plugin.pot
xfce4-mpc-plugin-*.tar.bz2
